// @use 'sass:color';

// $colors: red, brown, aqua, green, blue, orange, black, chartreuse, purple,
//   deeppink;

// @each $color in $colors {
//   @for $i from 1 through 10 {
//     .bg-#{$color}-#{$i*100} {
//       background-color: color.adjust($color, $whiteness: 100% - ($i * 10%));
//     }
//   }
// }

// @for $i from 1 through 20 {
//   .h-#{$i*5} {
//     height: $i * 5%;
//   }
// }

// @for $i from 1 through 20 {
//   .w-#{$i*5} {
//     width: $i * 5%;
//   }
// }

body {
  height: 100vh;
}

.box {
  $size: 'medium';
  height: 300px;
  border-radius: 8px;
  margin: 50px auto;

  @if ($size== 'small') {
    width: 150px;
    background-color: red;
  } @else if($size== 'medium') {
    width: 300px;
    background-color: yellowgreen;
  } @else if($size== 'large') {
    width: 500px;
    background-color: green;
  } @else {
    width: 500px;
    background-color: black;
    color: white;
  }
}
