.box {
  width: 700px;
  height: 350px;
  border-radius: 12px;
  margin: 100px auto;
  background-color: tomato;
  border: 3px solid black;
  display: block;
  color: green;
  border-left-color: red;
  border-top-color: blue;
  border-right-color: green;
  border-bottom-color: purple;
}
